.arrow {
    width: 0;
    height: 0;
    position: relative;

    &.with-border::before {
        width: 45px;
        height: 45px;
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
        border-radius: 30px;
        border: 1px solid #777;
        transition: all .35s ease-in-out;
    }

    &.arrow-down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        box-sizing: inherit;
        // &.with-border::before {
        //     transform: translate(-39%, -47%);
        // }
    }

    &:hover {
        &.with-border::before {
            width: 65px;
            height: 65px;
            border-radius: 50px;
        }
    }

    // &.arrow-up {
    //     border-left: 5px solid transparent;
    //     border-right: 5px solid transparent;
    //     border-bottom: 5px solid #fff;

    //     &.with-border::before {
    //         transform: translate(-50%, -45%);
    //     }
    // }

    // &.arrow-left {
    //     border-bottom: 5px solid transparent;
    //     border-top: 5px solid transparent;
    //     border-right: 5px solid #fff;
    //     transform: translateX(-10%);

    //     &.with-border::before {
    //         transform: translate(-45%, -50%);
    //     }
    // }

    // &.arrow-right {
    //     border-bottom: 5px solid transparent;
    //     border-top: 5px solid transparent;
    //     border-left: 5px solid #fff;
    //     transform: translateX(10%);

    //     &.with-border::before {
    //         transform: translate(-57%, -40%);
    //     }
    // }

}