canvas{
    position: absolute;
    // height: 100%;
    // width: 100%;
    opacity: 0;
}
.page-loaded canvas{
    opacity:1;
    transition: 1.25s transform, .45s opactiy 1.5s ease-in-out;
}
canvas#stars1{
    position: fixed;
    z-index: -1;
}
