#cursor {
    position: fixed;
    background-color: white;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
}

#cursor-follower {
    position: fixed;
    background-color: rgba(213, 109, 139, 0.7);
    width: 22px;
    height: 22px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transform: translate(5px, 5px);
}

* {
    cursor:  none;
}