@import '../utils/variables.scss';

#loader {
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(0%);
    position: fixed;
    z-index: 101;
    transition: 1.2s all .75s cubic-bezier(0.82, 0.03, 0.21, 0.99);
    -webkit-transition: 1.2s all .75s cubic-bezier(0.82, 0.03, 0.21, 0.99);
    -moz-transition: 1.2s all .75s cubic-bezier(0.82, 0.03, 0.21, 0.99);
    background: $black;

    #loader-lay {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 10;
        top: 0;
        mix-blend-mode: difference;
        transform: translateY(100%);
        // top: 15px;
    }
    #loader-dark-lay {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        z-index: 11;
        top: 0;
        transform: translateY(100%);
        // top: 15px;
    }

    #loader-show {
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        z-index: 9;
        background: #050505;

        #loading-status {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            // margin-top: 50px;
            transition: opacity .35s ease;

            #loading {
                width: 100%;
                background: lighten($black, 15);
                height: 2px;
                margin: 10px 0;
                position: relative;

                #bar {
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: #ccc;
                    // transition: 1.5s all 1.5s ease;
                }
            }
        }
    }
}

.page-loaded {
    #loader {
        // transform: translateY(130%);
                transition: 1.2s all 2.25s cubic-bezier(0.82, 0.03, 0.21, 0.99);
                -webkit-transition: 1.2s all 2.25s cubic-bezier(0.82, 0.03, 0.21, 0.99);
                -moz-transition: 1.2s all 2.25s cubic-bezier(0.82, 0.03, 0.21, 0.99);
                transform: translateY(-100%);

        #loader-lay {
            // top: 15px;
            transform: translateY(0);
            transition: 1s all .05s cubic-bezier(0.82, 0.03, 0.21, 0.99);
            -webkit-transition: 1s all .05s cubic-bezier(0.82, 0.03, 0.21, 0.99);
            -moz-transition: 1s all .05s cubic-bezier(0.82, 0.03, 0.21, 0.99);
        }
        #loader-dark-lay {
            // top: 15px;
            transform: translateY(0);
            transition: 1s all 1s cubic-bezier(0.82, 0.03, 0.21, 0.99);
            -webkit-transition: 1s all 1s cubic-bezier(0.82, 0.03, 0.21, 0.99);
            -moz-transition: 1s all 1s cubic-bezier(0.82, 0.03, 0.21, 0.99);
        }

        #loader-show {
            #loading-status {
                opacity: 0;
                transition: 1s all 2s cubic-bezier(0.82, 0.03, 0.21, 0.99);
                -webkit-transition: 1s all 2s cubic-bezier(0.82, 0.03, 0.21, 0.99);
                -moz-transition: 1s all 2s cubic-bezier(0.82, 0.03, 0.21, 0.99);
            }
        }
    }
}