@import '../utils/variables.scss';

header {
    position: fixed;
    margin: 30px 60px;
    z-index: 99;
    display: grid;
    width: calc(100% - 120px);
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "logo . nav";

    #logo {
        grid-area: logo / logo / logo;

        a {
            text-decoration: none;
            color: $deep-teal;
            font-size: 18px;
        }
    }

    nav {
        grid-area: nav / nav / nav;
        text-align: right;
        height: auto;
        overflow: hidden;
        position: relative;
        transition: all .35s ease;

        ul {
            padding: 5px 15px 0 0px;
            display: flex;
            text-align: right;
            flex-direction: column;
            align-items: flex-end;
            transition: all .35s ease-in-out;

            li {
                display: block;
                color: $deep-teal;
                position: relative;
                margin: 5px 0;
                width: fit-content;
                text-align: right;
                font-size: 14px;
                font-family: Greycliff_CF_Medium, sans-serif;
                font-weight: 500;

                sup {
                    font-size: 10px;
                    top: -2px;
                    position: absolute;
                }
                a{
                    color: $deep-teal;
                    text-decoration: none;
                    position: relative;
                    font-family: Greycliff_CF_Medium, sans-serif;
                    font-weight: 500;
                    // border: 1px solid $deep-teal;
                    // padding: 8px 12px;
                    // margin-right: -5px;

                    &::before{
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        background: $deep-teal;
                        width: 100%;
                        height: 2px;
                    }
                }
            }
        }

        &.isOpen {
            li.active::after {
                position: absolute;
                content: "";
                top: 55%;
                transform: translateY(-50%);
                left: -4px;
                width: calc(100% + 8px);
                height: 2px;
                background: #ff1f5e;
                // background:red;
                z-index: 1;
            }
        }
    }
}

nav.isClose {
    &::before {
        left: 30px;
        position: absolute;
        content: "";
        transform: translateY(-50%);
        height: 2px;
        width: 30px;
        top: 68%;
        background: #ff1f5e;
    }

    height: 35px;
}

.aboutActive {
    header {
        nav.isClose {
            ul {
                transform: translateY(-35px);
            }
        }
    }
}

.simaActive {
    header {
        nav.isClose {
            ul {
                transform: translateY(-70px);
            }
        }
    }
}

.contactActive {
    header {
        nav.isClose {
            ul {
                transform: translateY(-105px);
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    header {
        margin: 30px 30px;
        width: calc(100% - 60px);
    }
}