$black: #050505;
$dimgray: #525252;
$dimwhite: #eae7e0;
$white: #fff;
$blue : #0c00ff;
$ghost-blue : #d5e8e0;
$darkBlue: #192735;
$pink:#fbebee;
$purple: #e4b0a0;
$deep-purple :#d63a62;
$yellow: #ebce54;
$teal: #007e83;
$green: rgb(41, 178, 160);
$orange: #fb9b2a;
$darkPeach: #ff4552;
$brownMaroon: #dc7e5e;
$deep-teal: #004e46;